.home{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.post > span{
    font-weight: 1000;
}
.post{
    max-width: 300px;
    margin: 0px 70px;
}
.container-add{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 10px 510px;
}