.App{
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
.todo-body{
  /* overflow: scroll; */
  display: grid;
  padding: 3rem;
  border: 1px solid gray;
  gap:2rem;
}

.input{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
}
 .tableHead{
   display: grid;
   justify-content: center;
   width: 100%;
}
.table{
  display: grid;
  /* justify-content: center; */
  align-content: flex-start;
  width: 500px;
  max-height: 400px;
}
.tableBody{
  max-height: 300px;
  overflow: scroll;
  padding: 2rem;
}